<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731761563474-8llvsg6ghaf2j8vtcbv3sv50sh1mfrs5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731761563474-8llvsg6ghaf2j8vtcbv3sv50sh1mfrs5</string>
	<key>API_KEY</key>
	<string>AIzaSyDeb3FJtuh8vVsYEwGp62Bb0Hm8sH5gn3A</string>
	<key>GCM_SENDER_ID</key>
	<string>731761563474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dailyreadings</string>
	<key>PROJECT_ID</key>
	<string>daily-readings-63a7d</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-readings-63a7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731761563474:ios:7497ac46c2c25c678c0c8b</string>
</dict>
</plist>